/* Shared mixins and placeholders for the Right to Know theme */

/* Hide text when it's replaced by an image */
.image-replacement {
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}

/* General styling of nav menu items */
%menu-item {
  text-decoration: none;
  color: transparentize($color_white, 0.2);
  transition: background-color 0.5s ease-out;
  &:hover,
  &:active,
  &:focus {
    background-color: darken($color_primary, 15%);
    color: $color_white;
  }
}

/* Selected menu item */
%selected-menu-item {
  font-weight: bold;
  color: $color_primary;
  background-color: $color_neutral_light;
  &:hover,
  &:active,
  &:focus {
    background-color: $color_neutral_light;
  }
}

/* Button styles */

@mixin button-base($size: normal, $disabled: false) {
  padding: 0.5em 1.25em;
  border-radius: 3px;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 300ms ease-out;
  margin-bottom: 0;
  font-family: $font-family;
  @if $size == large {
    font-size: 2.2em;
  }
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    transition: background-color 300ms ease-out;
  }
  @if $disabled {
    opacity: 0.333;
    transition: none;
    &:hover,
    &:active,
    &:focus {
      background-color: inherit;
      color: inherit;
      cursor: default;
      transition: none;
    }
  }
}

@mixin button-primary($args...) {
  @include button-base($args...);
  color: $color_white;
  background-color: $button-bg;
  border: none;
  &:hover,
  &:active,
  &:focus,
  &:visited:hover,
  &:visited:active,
  &:visited:focus {
    background-color: $button-hover-bg;
    color: $color_white;
  }
}

@mixin button-secondary($args...) {
  @include button-base($args...);
  background-color: $color_sand_dark;
  color: $color_black;
  font-weight: normal;
  &:hover,
  &:active,
  &:focus {
    color: $color_black;
    background-color: $color_sand_darker;
  }
}

/* Action Bar Mixins */

@mixin follow-button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}

@mixin follower-count {
  color: $color_dark_grey;
  padding: 0.56em 1.25em;
  border: 1px solid $color_light_grey;
  position: relative;
  left: -3px;
  line-height: 1.6em;
  border-left: 0;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
