// Front Page Supporting Orgs section

#frontpage_supporting {
  clear: both;
  padding-top: 1em;

  img {
    margin-right: 20px;
    margin-bottom: 10px;
    vertical-align: middle;
    @include transition-safe(opacity .2s ease-in-out);
  }

  .logos {
    margin-bottom: 1em;
    a {
      text-decoration: none;
    }
  }

  img#openforum_logo {
    opacity: 0.6;
    &:hover {
      opacity: 0.8;
    }
  }

  img#cpd_logo {
    opacity: 0.65;
    &:hover {
      opacity: 0.85;
    }
  }

  img#getup_logo {
    opacity: 0.7;
    &:hover {
      opacity: 0.9;
    }
  }

  img#crikey_logo {
    opacity: 0.50;
    &:hover {
      opacity: 0.70;
    }
  }

  img#newmatilda_logo {
    opacity: 0.7;
    &:hover {
      opacity: 0.9;
    }
  }

  img#blueprintforfreespeech_logo {
    opacity: 0.65;
    &:hover {
      opacity: 0.85;
    }
  }

  img#efa_logo {
    margin-right: 16px;
    padding-bottom: 6px;
    opacity: 0.55;
    &:hover {
      opacity: 0.75;
    }
  }

  img#tia_logo {
    margin-right: 16px;
    opacity: 0.5;
    &:hover {
      opacity: 0.7;
    }
  }

  img#mysociety_logo {
    margin-right: 16px;
    opacity: 0.65;
    &:hover {
      opacity: 0.85;
    }
  }

  img#opennorth_logo {
    margin-right: 16px;
    opacity: 0.65;
    &:hover {
      opacity: 0.85;
    }
  }
}
