// Front Page Supporting Orgs section

#frontpage_supporting {
  clear: both;
  padding-top: 1em;

  img {
    margin-right: 20px;
    margin-bottom: 10px;
    vertical-align: middle;
    transition: opacity .2s ease-in-out;
    opacity: 0.6;

    &:hover {
      opacity: 0.85;
    }
  }

  .logos {
    margin-bottom: 1em;
    a {
      text-decoration: none;
    }
  }

  img#efa_logo,
  img#tia_logo,
  img#mysociety_logo,
  img#opennorth_logo {
    margin-right: 16px;
  }

  img#efa_logo {
    padding-bottom: 6px;
  }
}
